.header{
    max-width:1120px;
    margin: 0px auto 0;
    padding: 0 30px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 24px;
    padding-bottom: 10px ;
    border-bottom: 2px solid rgb(230, 230, 230);
}

.header h2{
    margin: 0px auto 0;
    color: #0073FB;
    
}

.header h2{
    margin: 32px auto 0;
    color: #0073FB;
    
}
.header .btn-header{
    border: 0;
    background-color:#F8F7F7;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
}

.header .btn-header:hover{
    opacity: 0.5;
}


.word-list-main{
    margin: 32px auto 0;
    padding: 0 30px;
    max-width: 1120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    list-style: none;
}

.word-list-main article{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius:20px;
    padding:20px;
    margin-bottom:20px;
    font-size: 35px;
    align-items: center;
    text-align: center;
    position: relative;
}

.word-list-main article strong{
    margin-bottom:25px;
    line-height: 24px;
}


.word-list-main .trash button{
    position: absolute;
    right: 24px;
    top: 24px;
    border: 0;
    background-color: white;
}

.word-list-main .trash button:hover{
    opacity: 0.8;
}



